// 1. Bootstrap variables
$blue: #2980b9;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e74c3c;
$orange: #fd7e14;
$yellow: #ffd221;
$green: #099f64;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;

$gray-100: #E9EBEC;
$gray-200: #D4D7DA;
$gray-300: #BEC2C7;
$gray-400: #A8AEB5;
$gray-500: #939AA2;
$gray-600: #7D868F;
$gray-700: #67727D;
$gray-800: #515D6A;
$gray-900: #263545;

$black: #263545;

// 2. $gray color
$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

// 3. $theme-colors
$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-900
);

// 4. (Optionnel) Si vous voulez aussi que les variantes (ex: $primary, $secondary) soient accessibles directement, 
//    vous pouvez aussi définir les variables simples, mais Bootstrap les reconstruit à partir des maps.
//    Ce n'est pas obligatoire car Bootstrap utilise les maps pour générer les classes.

// 5. Importer Bootstrap (version complète)
@import "../node_modules/bootstrap/scss/bootstrap";

// 6. (Optionnel) Ajoutez ici vos propres styles complémentaires